body {
    background-color: rgb(0, 0, 0);
    color: rgb(207, 204, 204);
    text-align: center;
}

body h1 {
    margin-top: 18%;
}

#parrafo {
    color: #c6c6c6;
}

#listtype li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 10px auto 10px;
    margin-right: 30px;
}
#listtype {margin-bottom: 18%;}


#MENUHEADER {
    margin-bottom: 13%;
}

#MENUHEADER li {
    display: inline;
    margin-right: 30px;
}

#MENUHEADER li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 1% 9% 1%;
    background-color: #878787;
    color: #fff;
}

#MENUHEADER li a:hover {
    background-color: #383939;
    margin-top: -3%;
}

h3 {
    padding: 1% 1%;
    margin: 3%;
    margin-top: 100%;
}

#MENUFOOTER h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    background-color: #878787;
    color: #fff;
}

#MENUFOOTER h3:hover {
    background-color: #383939;


#MENUFOOTER li {
    display: inline;
    margin-right: 30px;

}

#MENUFOOTER li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding: 1% 9% 1%;

    background-color: #878787;
    color: #fff;

    ;
}

#MENUFOOTER li a:hover {
    background-color: #383939;
    margin-top: -3px;
}

#MENUFOOTER h3 {
    margin-top: 15%;
    position: relative;
}

#MENUFOOTER a {
    text-decoration: none;
    color: white;
}
